<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" type="image/x-icon" href="img/logo_fundey.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv= "content-type" content="text/html;charset= ISO-8859-1">
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bootstrap/js/bootstrap.min.js">
  

  <title>Fun! Day</title>

<link rel="stylesheet" type="text/css" href="css/alan.css">

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Crear una Cuenta</h1>
			<br>
			<span>Usa un correo para registrarte</span>
			<input type="text" placeholder="Nombre" style="font-family:Verdana, Geneva, Tahoma, sans-serif" />
			<input type="email" placeholder="Correo" style="font-family:Verdana, Geneva, Tahoma, sans-serif"/>
			<input type="password" placeholder="Contraseña" style="font-family:Verdana, Geneva, Tahoma, sans-serif"/>
            <br>
			<button>Registrarse</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="home.html">
			<h1>Iniciar Sesion</h1>
            <br>
			<span>Inicie sesion con una cuenta existente</span>
			<input type="email" placeholder="Correo" style="font-family:Verdana, Geneva, Tahoma, sans-serif"/>
			<input type="password" placeholder="Contraseña" style="font-family:Verdana, Geneva, Tahoma, sans-serif" />
			<a href="#">Olvidastes tu contraseña?</a>
            <button>Entrar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bienvenido!</h1>
				<p>Para mantenerse conectado, inicie sesión con su información personal</p>
				<button class="ghost" id="signIn">Ya tienes cuenta?</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hola, Amigo!</h1>
				<p>Introduce tus datos personales y comienza tu viaje con nosotros</p>
				<button class="ghost" id="signUp">No tienes cuenta?</button>
			</div>
		</div>
	</div>
</div>

<footer>
    <script src="js/pruebaindex.js"></script>
</footer>