<?php
include("masterkey.php");
?>

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" type="image/x-icon" href="img/logo_fundey.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv= "content-type" content="text/html;charset= ISO-8859-1">
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bootstrap/js/bootstrap.min.js">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <title>Fun! Day</title>

<link rel="stylesheet" type="text/css" href="css/alan.css">

<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="home.php" id="loginForm" autocomplete="off">
			<h1>Iniciar Sesión</h1>
            <br>
			<span>Inicie sesión con una cuenta existente</span>
			<input id="username" type="text" placeholder="Usuario" maxlength="20" style="font-family:Verdana, Geneva, Tahoma, sans-serif"/>
			<input id="password" type="password" maxlength="20" placeholder="Contraseña" style="font-family:Verdana, Geneva, Tahoma, sans-serif" />
			<br>
            <button type="submit">Entrar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1 style="text-shadow: 2px 2px 1.5px black;">Bienvenido!</h1>
				<p style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px; text-shadow: 2px 2px 1.5px black;">Introduce tus datos personales y comienza tu viaje</p>
			</div>
		</div>
	</div>
</div>

<script>
	document.getElementById('loginForm').addEventListener('submit', function(event) {
    // Obtén los valores de los campos de entrada
    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;

    // Valida que los campos no estén vacíos
    if(username === '' || password === '') {
        swal("Error al Iniciar Sesión", "Completa todos los campos por favor", "error");
        event.preventDefault(); // Evita que el formulario se envíe
    }
});
</script>

<footer>
    <script src="js/pruebaindex.js"></script>
</footer>